.clearFix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  font-size: 0;
}

#home .blog-ttl {
  position: relative;
}

#home .blog-ttl .username-ttl a {
  color: #031f2e;
  font-size: 24px;
}

#home .bodylist{
  word-wrap: break-word;
}
#home table tr:last-child{
  background-image: linear-gradient(rgb(184 207 231 / 25%),  rgb(215 228 242 / 12%)); 
}
#home .main {
  margin-top: 95px;
}
#home .icn-list {
  position: absolute;
  display: block;
  height: 50px;
  right: 6px;
  top: 6px;
}
#home .icn-list .icn-edit {
  color: white;
  width: 40px;
  background-color: #0087d1;
  height: 40px;
  float: right;
  text-align: center;
  line-height: 40px;
}
#home .icn-list .icn-edit:hover {
  background-color: #05285c;
}
#home .card-body p {
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}
#home .text-area {
  position: relative;
  width: 100%;
}
#home .overflow-auto {
  overflow-y: scroll;
  max-height: 50px;
}
#home .comment-session {
  width: 95%;
  background-color: #ffffffd4;
  word-wrap: break-word;
}
#home .card-comment textarea{
  width: 97%;
    border: lightgray thin solid;
    outline: none;
}
#home .cmt-icn {
  display: block;
  position: absolute;
  bottom: 0;
  right: -3px;
  width: 30px;
  height: 30px;
  background-color: #0087d1;
  color: #fff;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
}
#arrow-icn {
  position: absolute;
  left: 5px;
  top: 7px;
}


#home .icn-list .icn-close {
  color: white;
  width: 40px;
  background-color: #f30d1d;
  height: 40px;
  float: right;
  text-align: center;
  line-height: 40px;
  margin-left: 3px;
}
#home .icn-list .icn-close:hover {
  background-color: #9c040e;
}
#home .change-session .delete-link {
  color:red;
}

#addpost #row_style {
  margin-top: 30px;
}

#addpost #submit {
  display: block;
  margin: auto;
}
#addpost textarea {
width: 100%;
outline: none;
}